* {
    padding:0;
    box-sizing:border-box;
    margin:0;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    overflow:hidden;
   
}

.text-center {
    text-align:center;
}

.btn {
    border:none;
    background:#000;
    color:#fff;
    padding: 11px 16px;
    cursor: pointer;
    
}

.btn:hover {
    background:#ccc;
    color:#000;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.col {
    padding:0 8px;
    float:left;
}

.col-third {
    width:calc(100% / 3);
}

.col-full {
    width:100%;
    
}

.col-half {
    width:50%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.love {
    width:350px;
    height:622px;
}

.text-white {
    color:#fff;
}

.min-size {
    width:200px;
}



#Vuong {

}


#header {
    background:#000;
    height:46px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:1;
    
    
}

#nav {
    display:inline-block;
}

#nav > li {
    display:inline-block;
}

#nav li {
    
    position:relative;
}

#nav li a {
    text-decoration:none;
    padding:0 24px;
    line-height:46px;
    display:block;
}

#nav > li > a {
    color:#fff;
}


#nav .subnav {
    display:none;
    position:absolute;
    list-style: none;
    box-shadow:0 0 10px rgba(0,0,0,0.3); 
}

#nav .subnav li {
    background:#fff;   
}

#nav .subnav a:hover,
#nav > li:hover > a {
    background:#ccc;
    color:#000;
}

#nav .subnav a {
    color:#000;
    line-height:38px;
    padding:0 12px;
}


#nav li:hover .subnav {
    display:block;
}

#nav .nav-arrow-down {
    font-size:13px;
}

#header .search-btn {
    float:right;
    color:#fff;
    padding:0 23px;
}

#header .search-icon {
    line-height:46px;
}

#header .search-btn:hover {
    background:#f44336;
    cursor:pointer;
}


#slider {
    margin-top:46px;
    position:relative;
    display:flex;
    justify-content:center;
    text-align:center;
}

 .love-text {
    position:absolute;
    bottom:0;
    width:100%;
    margin-bottom:20px;
    color:#fff;
    background:#000;
}

#content .love-sub-heading,
#content .love-heading {
    text-align:center;
    margin-bottom: 10px;
}

#content .loving-you {
    padding:64px 0;
    width:800px;
    margin:auto auto;
    
}

#content .about-love {
    margin-top:20px;
}

#content .love-heading {
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 4px;
}

#content .love-sub-heading {
    font-style: italic;
    opacity:0.5;
}

#content .love-list {
    padding: 32px 0;
    overflow:hidden;
    display:flex;
    justify-content:space-between;
    align-items: baseline;
}

#content .love-item{
    float:left;
    
}

.contact-content {
    margin-top: 48px;
}

.form-control {
    padding:10px;
    border:1px solid #ccc;
    width:100%;
    
}

.form-control:hover {
    outline:1px solid #f44336;
}

.contact-info i {
    width:30px;
    display:inline-block;
}



.my-heart{
    background:#000;
}

.chanh-list {
    margin-top:32px;
    overflow:hidden;
    margin-left:-8px;
    margin-right:-8px;

}

.chanh-item {
    float:left;
    width:calc(100% / 3);
    padding:0 8px;
}

.chanh-img {
    width:100%;
    display:block;
}

.chanh-body {
    color:#000;
    background:#fff;
}

.chanh-body {
    padding:16px;
}

.chanh-heading {
    margin:15px 0;
}

.chanh-time {
    font-size:15px;
    margin:10px 0;
}

.chanh-desc {
    font-size:15px;
    margin:15px 0;
}

.nude-body {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}



.nude-full {
    width:100%;
}

.nude-section {
    overflow:hidden;
}

.nude-desc {
    text-align:center;
    margin-bottom: 8px;
    
}







.desc-nude {
    margin-bottom: 20px;
}



.nude-img {
    width: 100%;
    border:10px solid transparent;
    position: relative;
    border-radius:20px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom , #ff4 , #ff4bcb);

}


.play-video {
    background:#000;
    padding:11px 16px;
    color:#fff;
    margin:0 0 16px;
    border:none;
}
   
.play-video:hover {
    cursor:pointer;
    background:#ccc;
    color:#000;
}

.modal {
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display:flex;
}

.modal-container {
    background:#fff;
    width:900px;
    min-height:200px;
    position:relative;
    animation:modalFadeIn ease 0.4s;
}

.heading-icon {
    right:0;
    position:absolute;
    font-size:16px;
    padding:12px;
}

.heading-icon:hover {
    background:#ccc;
    color:#000;
    cursor:pointer;
}

.modal-header {
    display:flex;
    justify-content: center;
    height:129px;
    align-items: center;
    font-size:30px;
    background:#009688;
    color:#fff;
}

.modal-label {
    display:block;
    margin:12px 0;
}

.modal .ti-bag {
    margin-right:16px;
}

.modal-input {
    width:100%;
    margin-bottom:24px;
    padding:11px;
    border:1px solid #ccc;
}



.modal-body {
    padding:16px;
}

.buy-ticket {
    width:100%;
    padding:20px;
    display:block;
    background:#009688;
    border:none;
    margin:16px 0;
    cursor:pointer;
    
}

.buy-ticket:hover {
    color:#000;
    background:#ccc;
}

.pre-vid {
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:none;
    justify-content: center;
    align-items: center;
    animation: videoFadeIn ease 0.5s;
    
   
  
    
    
}


.pre-modal-container {
    width:900px;
    min-height:500px;
    position:relative;
    background: linear-gradient(180deg , rgba(182, 15, 15, 0.562) , rgba(0, 0, 0, 0.575));
    border:1px solid transparent;
    background-clip:padding-box;
    border-radius:10px;
}

.video {
    width:500px;
    display: block;
    
}

.pre-vid.pre-open {
    display:flex;
}




@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
        opacity:0;
    }

    to {
        transform: translateY(0);
        opacity:1;
    }
}

@keyframes videoFadeIn {
    from {
        transform: translateY(-150px);
        opacity:0;
    }

    to {
        transform: translateY(0);
        opacity:1;
    }
}

@keyframes verifyFadeIn {
    from {
        transform:translateY(-200px);
        background:rgba(44, 10, 235, 0.3);
        opacity:0;
    }

    to {
        transform:translateY(0);
        background:rgba(139, 202, 22, 0.3);
        opacity:1;

    }
}

.video-header {
    height:120px;  
    display:flex;
    align-items: center;
    justify-content: center;
    
}


    


.anni-love {
    
    font-size:30px;
    color:#fff;
}

.video-body {
    display:flex;
    justify-content: center;
    height:220px;
}

.video-footer {
   text-align: center;
    left:0;
    right:0;
    height:100px;
    position:relative;
    color:#fff;
    font-size:30px;
}

.footer-letter {
    position: absolute;
    right:0;
    left:0;
    text-align: center;
   
}

.pre-modal-container:before {
    position:absolute;
    content:"";
    background:linear-gradient(180deg , rgba(201, 132, 53, 0.747) ,rgba(23, 45, 238, 0.623));
    inset:0;
    z-index:-1;
    margin:-10px;
    border-radius:inherit;
}

.confirm {
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-bottom:20px;
    
}

.confirm .unconfirm ,
.confirm .verify {
    padding:40px;
    background:linear-gradient(90deg , rgba(211, 46, 46, 0.3) , rgba(74, 216, 128, 0.678));
    color:#fff;
    border:2px solid transparent;
    background-clip:padding-box;
    position: relative;
}

.confirm .unconfirm:hover,
.confirm .verify:hover {
    cursor:pointer;
    background:linear-gradient(180deg , rgba(189, 7, 7, 0.3) , rgba(59, 177, 98, 0.3));
    
}

.modal-verify {
    background:rgba(0,0,0,0.3);
    position:fixed;
    inset:0;
    display:none;
    justify-content: center;
    align-items: center;
    animation:verifyFadeIn ease 0.7s;
    
    
}

.modal-verify.verify-open {
    display:flex;
}

.verify-container {
    background:rgba(12, 83, 214, 0.747); 
    width: 700px;
    min-height:300px;
    font-size:30px;
    color:red;
   display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-clip:padding-box;
    border:10px solid transparent;

}

.verify-body {
    position: absolute;
    bottom:0;
    margin-bottom:20px;
}

.navigation {
    color:#fff;
    text-decoration: none;
}

.navigation:hover {
    background:red;
    color:#000;
}

.verify-container:before {
    position: absolute;
    inset:0;
    margin:-10px;
    content:"";
    background:linear-gradient(180deg , rgba(56, 194, 22, 0.3) , rgba(216, 55, 15, 0.3));
    z-index:-1;
    
}















    
    

#content {

}


#footer {

}

