
    h1 {
        color:rgb(219, 86, 86);
    }

    .Mobile,
    .PC,
    .Tablet {
        margin:auto auto;
        font-size:100px;
        color:#fff;
        display:none;
        
    }

    html {
        background:orange;
    }

    /* Mobile: width <740px */
    @media screen and (max-width:739px) {
        .Mobile {
        display:block;
    }
}

    /* Tablet: width >= 740px and width <1024px */
    @media screen and (min-width:740px) and (max-width: 1023px) {
        .Tablet {
        display:block;
    }
}

    /* PC: width >= 1024px */
    @media screen and (min-width:1024px) {
        .PC {
        display:block;
    }
}